* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  font-weight: 500;
  border: none;
}

window#waybar {
  background: rgb(15, 15, 20);
  border-radius: 58px;
  padding: 4px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.45);
}

#workspaces,
#cpu,
#memory,
#battery,
#network,
#pulseaudio,
#pulseaudio-slider,
#clock,
#custom-power {
  background: rgba(30, 30, 40, 0.85);
  padding: 6px 14px;
  transition: 0.2s ease;
  color: #ffffff;
}

#workspaces {
  border-radius: 14px;
}

#workspaces button {
  background: transparent;
  padding: 0 8px;
  border-radius: 10px;
  color: #ffffff;
}

#workspaces button.active {
  background: rgba(150, 100, 255, 0.6);
}

#custom-power {
  color: #ff5e5e;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    background: transparent;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 6px;
    min-width: 100px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
}

#pulseaudio-slider highlight {
    min-width: 6px;
    min-height: 6px;
    border-radius: 4px;
    background: rgb(255, 255, 255); 
}
